@import '~bootstrap/scss/functions';

//custom colors
@import "~@frontend-appointment/common-sass/src/scss/variables/custom-variables";

// // Customized Bootstrap variables
@import "~@frontend-appointment/common-sass/src/scss/variables/custom-bootstrap-variable";
@import '~bootstrap/scss/mixins';

@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
}


#appointment-log {


    .appointment-badge {
        float : right;
        margin: 10px 0;

        &>span {
            margin-right: 20px;
            height      : auto;
            line-height : 40px;

            &:last-child {
                margin-right: 0;
            }

            .badge-data{
                color:$gray-600;
                font-weight: 500;
                margin-left:4px;
            }
        }

    }

    .badge {
        width         : 30px;
        height        : auto;
        // top        :50%;
        // left       :50%;
        // transform  :translate(-50%,-50%);
        text-align    : center;
        vertical-align: middle;
        font-size     : 0.65rem;
        line-height   : 0.8rem;
        padding       : 6px 8px;
        
        text-transform: uppercase;
        @include border-radius(4px);
    }

    .total-amount{
        display: block;  
        text-align: right;
        padding:16px 0px 4px;
        span{
        background-color:$gray-200;
        padding:2px 8px 2px 2px;
        margin:10px 0 10px;
        font-weight: 500;
        color:$gray-800;
      
        border:1px solid  $gray-200;
        @include border-radius(4px);

        &:first-child{
            background-color:#fff;
            border:#fff;
        }

        &:nth-child(2){
            font-size:0.9rem;
        }
        }
        
       
        
    }

    .revenue-details{
        // background-color: #fff;
        // padding: 24px;
        margin: 1rem 0;
       .rd-title{
           margin-top:10px;
           margin-bottom:-12px;
       }

        .rd-container{
        // padding: 24px;
        }
        .rd-card{
            background-color:$white;
            margin-right:1.5rem;
            margin-bottom:15px;
            min-height: 110px;
            // padding:20px;
            height: 100%;
            // margin-right:10px;
            @include border-radius(4px);
            text-align: center;
            display:flex;
            flex-direction: row;
            align-items : center;
            justify-content: space-between;

          

            &.book{
                .icon{
                    background-color:$warning;
                }
            }

            &.checkin{
                .icon{
                    background-color:$primary;
                }
            }

            &.cancel{
                margin-right:0;
                .icon{
                    background-color:$danger;
                }
            }

            &.refund{
                .icon{
                    background-color:$brown;
                }
            }

            &.refund-client{
             
                .icon{
                    background-color:$dark;
                }
            }

            // &.follow-up{
            //     margin-right:0;
            //     .icon{
            //         background-color:$purple;
            //     }
            // }


            &.total{
                margin-right:0;
                box-shadow: -6px -6px 9px 0px rgba(0, 0, 0, 0.2), 
                6px 6px 9px rgba(0, 0, 0, 0.4);
                
                .rd-content{
                    align-items:center ;
                    padding-left:0;

                    & >span{
                        align-items: center;
                    }

                    .inc{
                        text-align: center;
                    }
                }
                .icon{
                    background-color:darken(#008080,10%);
                    color:white;
                    display:none;
                }
                background-color: #008080;
                color:darken(white,10%);

                .amt,.apt{
                    color:$white !important;
                }

                
            }

            
           
           
           
           
           
            .icon{
               
                width:50px;
                height:100%;
                background-color:#ccc;
                @include border-radii (4px,0,0,4px);
              
                display : flex;
                align-items : center;
                justify-content: center;
                font-size: 20px;
               
                color:white;
                flex:0 0 50px;
                
                
            }

            .rd-content{
                display : flex;
                align-items : left;
                justify-content: center;
                flex-direction: column;
                text-align: left;
                font-size: 14px;
                // width:calc(100% - 80px);
               
                flex:2 0 60px;
                padding:16px 0;
                padding-left:20px;


                span{
                    display: block;

                  
                }

                .label{
                   font-weight: 500;
                   font-size: 14px;
                //    background-color: $gray-100;
                   display:inline-block;
                   @include border-radius(4px);
                   text-transform: uppercase;
                //    padding:2px 4px;
                 
                }

               .amt,.apt{
                    display: inline;
                    color: $gray-800;
                    font-weight: 500;
                    font-size: 15px;
               }

            

               .inc{
                   font-weight:350;
                   text-transform: lowercase;
               }

               .follow-up{
                font-size:12px ;
                .fa-tag{
                    color:$purple;
                }

                .fl-label{
                    color:$purple;
                    display: inline;
                }

                .amt,.apt{
                    font-size:12px ;
                }
            }
               
            }


            
        }

        
           
    }

    // .revenue-details{
    //     background-color:$white;
    //     padding:24px;
    //     @include border-radius(0.5rem);
    //     .total{
    //         font-weight: 700;
    //     }
    //     .table th{
    //         font-weight: 300;
    //         font-size: 12px;
    //         margin-bottom:4px;
    //         border-bottom: 1px solid transparent;
    //     }

    //     .table td{
    //         font-weight:400;
    //     }
    //     .table th, .table td {
    //         padding: 0.25rem;
    //         vertical-align: top;
    //         border-top: 1px solid transparent;
    //     }
    // }

    // .revenue-breakdown{
    //     background-color:$white;
    //     padding:24px;
    //     margin:1rem 0;
    //     @include border-radius(0.5rem);

        
    //     h5{
    //         margin-bottom:20px;
    //         color:$gray-900;
    //     }
    //     p{
    //         font-size:12px;
    //         line-height: 16px;
    //         letter-spacing: 0.01rem;
    //         font-weight: 300;
    //     }
    // }

    .react-datepicker-wrapper {
        width          : 50%;
        // padding-left: 4px;
    }

    @media (max-width: 1199px) {
        .hide-on-md {
            display: none;
        }
    }

}