@import '~bootstrap/scss/functions';

//custom colors
@import "~@frontend-appointment/common-sass/src/scss/variables/custom-variables";

// // Customized Bootstrap variables
@import "~@frontend-appointment/common-sass/src/scss/variables/custom-bootstrap-variable";
@import '~bootstrap/scss/mixins';

#appointment-log {


    .appointment-badge {
        float : right;
        margin: 10px 0;

        &>span {
            margin-right: 20px;
            height      : auto;
            line-height : 40px;

            &:last-child {
                margin-right: 0;
            }

            .badge-data{
                color:$gray-600;
                font-weight: 500;
                margin-left:4px;
            }
        }

    }

    .badge {
        width         : 30px;
        height        : auto;
        // top        :50%;
        // left       :50%;
        // transform  :translate(-50%,-50%);
        text-align    : center;
        vertical-align: middle;
        font-size     : 0.65rem;
        line-height   : 0.8rem;
        padding       : 6px 8px;
        
        text-transform: uppercase;
        @include border-radius(4px);
    }

    .total-amount{
        display: block;  
        text-align: right;
        padding:16px 0px 4px;
        span{
        background-color:$gray-200;
        padding:2px 8px 2px 2px;
        margin:10px 0 10px;
        font-weight: 500;
        color:$gray-800;
      
        border:1px solid  $gray-200;
        @include border-radius(4px);

        &:first-child{
            background-color:#fff;
            border:#fff;
        }

        &:nth-child(2){
            font-size:0.9rem;
        }
        }
        
       
        
    }

    .revenue-details{
        background-color:$white;
        padding:24px;
        @include border-radius(0.5rem);
        .total{
            font-weight: 700;
        }
        .table th{
            font-weight: 300;
            font-size: 12px;
            margin-bottom:4px;
            border-bottom: 1px solid transparent;
        }

        .table td{
            font-weight:400;
        }
        .table th, .table td {
            padding: 0.25rem;
            vertical-align: top;
            border-top: 1px solid transparent;
        }
    }

    .revenue-breakdown{
        background-color:$white;
        padding:24px;
        margin:1rem 0;
        @include border-radius(0.5rem);

        
        h5{
            margin-bottom:20px;
            color:$gray-900;
        }
        p{
            font-size:12px;
            line-height: 16px;
            letter-spacing: 0.01rem;
            font-weight: 300;
        }
    }

    .react-datepicker-wrapper {
        width          : 50%;
        // padding-left: 4px;
    }

    @media (max-width: 1199px) {
        .hide-on-md {
            display: none;
        }
    }

}