@import '~bootstrap/scss/functions';

//custom colors
@import "~@frontend-appointment/common-sass/src/scss/variables/custom-variables";

// // Customized Bootstrap variables
@import "~@frontend-appointment/common-sass/src/scss/variables/custom-bootstrap-variable";
@import '~bootstrap/scss/mixins';

#admin-acitivity-log {
   

    .appointment-badge {
        float : right;
        margin: 10px 0;

        &>span {
            margin-right: 20px;
            height      : auto;
            line-height : 40px;

            &:last-child {
                margin-right: 0;
            }

            .badge-data{
                color:$gray-600;
                font-weight: 500;
                margin-left:4px;
            }
        }

    }

    .badge {
        display: inline-block;
        padding: 0.55em 0.75em;
        font-size: 75%;
        font-weight: 500;
        width         : auto;
        height        : auto;
        // top        :50%;
        // left       :50%;
        // transform  :translate(-50%,-50%);
        text-align    : center;
        vertical-align: middle;
        // font-size     : 0.65rem;
        // line-height   : 0.8rem;
       
        line-height: 1;
        @include border-radius(4px);
    }

    .total-amount{
        background-color:$gray-200;
        padding:4px 2px;
        font-weight: 500;
        color:$gray-800;
        @include border-radius(4px);
    }

    .react-datepicker-wrapper {
        width          : 50%;
        // padding-left: 4px;
    }

    .activity-container{
        // padding: 15px;
        //  margin: 1rem 15px;
        border-radius: 0.5rem;
        margin-bottom:15px;
      
    }

    .activity-count{
        padding: 10px;
        background-color:$white;
        height: 100%;
        @include border-radius(0.5rem);
        
        .title{
            margin-top:20px;
            margin-left:20px
        }
    }

    .activity-log{
        padding: 10px;
        background-color:$white;
        height: 100%;
        @include border-radius(0.5rem);

        .title{
            margin-top:20px;
            margin-left:20px;
        }
    
    }

    .total-count{
       margin-top:10px;
        text-align: center;
        font-weight:500;
        font-size:0.9rem;
    }

    .legend-box{
        display: block;
    //    min-width: 320px;
        width:400px;
        height: auto;
         border:1px solid #ccc;
        margin:20px auto;
        padding:12px;
       
        
        @include border-radius(0.5rem);

        ul li{
            width:50%;
            float:left;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: left;
            // align-items: center;

            // span{
            //     // border:1px solid #ccc;
            //     width:8px;
            //     height: 6px;
            // }

            .legend{
                width:15px;
                height:15px;
                display: inline-block;
                padding: 0.55em 0.55em;
                margin-right:6px;
                background-color:$primary;
                line-height: 1;
                // text-align: center;
                border-radius: 0.25rem;
            
            }

            .data{
                font-weight: 500;
                font-size: 12px;
                color:$gray-900
            }
            

            &:nth-child(1){
               .legend{
                    background-color:lighten($primary, 25%);
                }
            }

            &:nth-child(2){
                .legend{
                    background-color:#0277BD;
                }
            }

            
            &:nth-child(3){
                .legend{
                    background-color:#fff26b;
                }
            }

            
            &:nth-child(4){
                .legend{
                    background-color:#FFCAFF;
                }
            }

            
            &:nth-child(5){
                .legend{
                    background-color:#A2C523;
                }
            }

            &:nth-child(6){
                .legend{
                    background-color:#FFBB00;
                }
            }

            &:nth-child(7){
                .legend{
                    background-color:#EAEC93;
                }
            }

            &:nth-child(8){
                .legend{
                    background-color:#D7FBE6;
                }
            }

            &:nth-child(9){
                .legend{
                    background-color:#34675C;
                }
            }

            &:nth-child(10){
                .legend{
                    background-color:#34675C;
                }
            }
        }

        p{
            text-align: center;
            font-weight:500;
            font-size:0.9rem;
        }
    }

    

    @media (max-width: 1199px) {
        .hide-on-md {
            display: none;
        }
    }

}