
.outPopUp {
  position: absolute;
  width: 300px;
  height: 550px;
  z-index: 15;
  padding:30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:#fcfcfc;
}

.appt-detail p{
font-size:15px;
font-weight:500;
line-height:22px;
}

.appt-detail p:last-child{
font-size:16px;
font-weight:600;
}

.appt-detail p span{
font-size:18px;
font-weight:600;
}

.title{
text-decoration:underline;
}

.separtor{
width:100%;
margin:20px 0;
border:1px dashed #000000;
}



.patient-detail p{
font-size:15px;
font-weight:500;
line-height:22px;
}

.patient-detail p span{
font-size:16px;
font-weight:600;
text-align:right;
}