.dashboard-wrapper{
    //padding:16px;
    padding-top:10px;
    margin-bottom:1.5rem;

    h5.title{
        display: block;
        // color:desaturate($cogent,60%);
        // font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    // .revenue-title-box{
    //     position: relative;

    //     .fiscal{
    //         position: absolute;
    //         top:0;
    //         left:0;
    //     }

    //     .title{
    //         position: absolute;
    //         top:12px;
    //     }
    // }

    .fiscal{
        font-size: 11px;
        font-weight: 500;
        display: block;
    }

    .slash{
        font-size:8px;
    }

    .rev-total{
        background-color:$gray-100;
        color:$gray-900;
        padding:4px;
        margin-top:10px;
        @include border-radius(4px);
    }

    .hospital-list{
        width:300px;
        float:right;

        .hospital-list-input{
            position: relative;

            .form-label{
                position: absolute;
                left:5px;
                bottom:26px;
                padding-bottom:2px;
                background-color: transparent;
                margin-bottom:2px;
                font-size: 11px;
                z-index: 99;
                
            }

            .select-wrapper{
                min-height: 38px;
                margin-left:4px;
                

                .select-label.active {
                color:$cogent;
              }

              .css-1hwfws3{
                  padding:0;
              }

              .css-yk16xz-control{
                    background-color:transparent;
                    border-color:transparent !important;
                    border-bottom:1px solid $gray-500 !important;
                    //    min-height: 30px;
            
                    @include border-radius(0);
            
                    &:hover{
                        // border:transparent !important;
                        border-bottom:1px solid $gray-500 !important;
                    }
                    }

            }

            // .css-1hb7zxy-IndicatorsContainer{
            //     padding:1px;
            // }

            // .css-tlfecz-indicatorContainer{
            //     padding:1px;
            // }

          

            .css-1pahdxg-control{
                border-color:transparent !important;
                border-bottom:1px solid $gray-500 !important;
                background-color:transparent;
                @include border-radius(0);
                &:hover{
                    border-color:transparent !important;
                    border-bottom:1px solid $gray-500 !important;
                }
            }

          
        }


    //     .select-wrapper{
    //         min-height: 34px;
    //         margin-left:4px;

    //         // .select-label.active {
    //         //     color:$cogent;
    //         //   }

    //       .css-yk16xz-control{
    //        background-color:transparent;
    //     border-color:transparent !important;
    //        border-bottom:1px solid $gray-500 !important;
    //     //    min-height: 30px;
    //        @include border-radius(0);

    //        &:hover{
    //            border:transparent !important;
    //         border-bottom:1px solid $gray-500 !important;
    //       }
    //       }

    //       .css-1uccc91-singleValue{
    //           color:$gray-900;
    //           letter-spacing: 0.5px !important;
    //           text-transform: capitalize;
    //           font-size:11px !important;
    //       }

    //       .css-1pahdxg-control{
    //         border-color:transparent !important;
    //         border-bottom:1px solid $gray-500 !important;
    //         background-color:transparent;
    //         @include border-radius(0);
    //         &:hover{
    //             border-color:transparent !important;
    //             border-bottom:1px solid $gray-500 !important;
    //         }
    //       }

    //         //for disabled select
    //       .css-1fhf3k1-control{
    //         background-color:$gray-100 !important;

    //           // cursor: not-allowed;

    //       }

    //       .css-1hwfws3{
    //           padding:0 0;
    //       }

    //       .css-1n7v3ny-option{
    //         //background-color:#DEEBFF;
    //         background-color: lighten($cogent,45%);
    //       }

    //       .css-1wa3eu0-placeholder{
    //         color:$gray-600;
    //         font-weight: 300;
    //       }

    //       .css-tlfecz-indicatorContainer{
    //           padding:4px !important;
    //       }

    //     }
    }

    .react-datepicker-wrapper{
        width:120px;
    }

    .react-datepicker__current-month{
        display: inline-block !important;
    }

    .unauthorized{
        // position: relative;
        padding:0;
        @include border-radius (1rem);

        .filter-message{
            position: relative;
            width:100%;
            height: auto;
            margin-top:0px;
            left:50%;
            transform: translateX(-50%);
            @include border-radius(0.5rem);
            // border-radius:50%;
             background-color:$white;
            // border:1px solid #ccc;
            h1{
                margin-bottom:40px;
                &:after {
                    content:'';
                    position: absolute;
                    width:100px;
                    margin-top:50px;
                    border-bottom:4px solid gray;
                    left:50%;
                    transform: translateX(-50%);
                    text-transform: uppercase;

                }
            }

            h5{
                text-transform: uppercase;
            }

            h6{
               color: rgba(89, 93, 110, 0.9);
                padding:10px 0;
                font-size:0.9rem;
            }
        }
        .message-cont{
            text-align: center;
            width:auto !important;

            width:auto;
        }

        i{
            font-size:60px;
            color:#dc3545;
        }
    }

}

.dashboard-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .revenue-box{
        background-color:$white;
         padding:30px;
        // width:23%;
        // height:100%;
        margin:0px 0 15px;
        flex-grow: 1;
        flex-basis: 0;
        justify-content: space-between;
        @include border-radius(0.5rem);
        text-align: center;
            // box-shadow:   -10px -10px 10px  $gray-200,
            // 10px 10px 10px $gray-400; 
       

        &:first-child{
            background-color:$cogent;
            box-shadow:   -10px -10px 8px  #fff,
            10px 10px 10px $gray-400; 
            p{
                color:$white;

            }
            .total{
                color:$black;

                .up{
                    color:rgba(255, 255, 255, 0.6);
                }

                .down{
                    color:$danger;
                }
            }
        }

        &:nth-child(2){
            margin:15px;
            margin-top:0
        }

        &:nth-child(3){
            margin:0px 15px 15px 0;
        }

        .total{
            font-size: 14px;
            font-weight: 400;
            color:$cogent;
        }

        img{
            width:30px;

            // display: none;

        }

        p{
            text-align: center;
            font-size: 22px;
            font-weight: 500;
            margin-bottom:0;

            span{
                margin-left:3px;
                font-size: 10px;
                font-weight: 400;
            }

        }

        div{
            text-align: center;
            font-weight: 400;
            // color:$black;

            & .up{
                color:$success;
                     font-weight: 500;

                     svg{
                         margin-right:4px;
                     }

            }

            & .down{
                color:$danger;
                     font-weight: 500;
                     svg{
                        margin-right:4px;
                    }
            }

            &.up,&.down{
                span{
                    // color:$gray-600;
                    // margin-left:2px;
                    // font-weight: 500;

                }
            }
            .fa-chevron-up{
                color:$success;
                font-size: 18px;
            }

            .fa-chevron-down{
                color:$danger;
                font-size: 18px;
            }
        }


    }

    .chart {
        background-color:$white;
        padding:20px 40px;
        width:100%;
        @include border-radius(0.5rem);
        // box-shadow:   -10px -10px 10px $gray-200,
        // 10px 10px 10px $gray-400; 
        img{
            width:100%;
            height: auto;

        }

        .btn{
            // margin-right:6px;
            margin-bottom:4px;
            float:right;
        }
    }

    .app-log{
        background-color:$white;
        padding:20px 40px;
        width:100%;
        // box-shadow:   -10px -10px 10px $gray-200,
        // 10px 10px 10px $gray-400; 
        @include border-radius(0.5rem);
    }


    .overall-box{
        background-color:$white;
        padding:30px;
        margin:0px 0 15px;
        @include border-radius(0.5rem);
        text-align: center;
        // box-shadow:   -10px -10px 10px $gray-200,
        // 10px 10px 10px $gray-400; 

        img{
            width:30px;

            // display: none;

        }

        p{
            text-align: center;
            font-size: 22px;
            font-weight: 500;

        }

        .title{
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            // color:$black;
        }
    }

    .appointment-box{
        background-color:$white;
        padding:30px;
        margin:0px 0 15px;
        text-align: center;
        // box-shadow:   -10px -10px 10px $gray-200,
        // 10px 10px 10px $gray-400; 
        @include border-radius(0.5rem);



        .doughnut-chart{
            width:60%;
            text-align: center;
            margin:0 auto;
        }

        .title{
            font-size: 14px;
            font-weight: 500;
            margin:0;
        }

        p{
            font-size: 22px;
            font-weight: 500;
            margin:0;
        }

        ul li{
            width:50%;
            display: inline-block;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            color:$gray-700;

            span{
                font-size: 18px;
                color:$gray-700;
                font-weight: 400;
            }

        }

        .color-code{
            display:inline-block;
            width:10px;
            height: 10px;
            background-color:$info;
           vertical-align: middle;
           margin-bottom:6px;
           margin-right:2px;
            @include border-radius(50%);

            &.code1{
                // background-color:lighten($cogent,20%);
               background-color: rgba(0, 99, 255, 0.2);
            }

            &.code2{
                background-color:$cogent;
            }
        }

    }

    .separator-doc,.separator-date{
        font-size: 14px;
        font-weight: 500;

    }

    .separator-doc{
        margin-top:10px;
    }

    .date{
        padding:0;
        text-align:right;

        .field-wrapper{
        min-height:40px;   
        }

        &>div{
            text-align:right;
            font-size: 10px;
           

            span{
                font-weight:600;
            }
        }

        .form-control{
            border:0 solid transparent;
            border-bottom:1px solid $gray-500;
            @include border-radius(0);
           
        }

        .field-placeholder{
            display: none;
        }

        .example-custom-input {
            text-align: 0;
        }

      }

      .app-queue-datatable{
          width:100%;

          .data-image{
            //   width:25px;
              margin-top: 4px;
          }

          ul li{
              line-height: 22px;
          }


      }


}

// .dashboard-image{
//     width:100%;
//     max-width:800px;
// }
