.dashboard-wrapper{
    //padding:16px;
    padding-top:20px;
    margin-bottom:1.5rem;

    .unauthorized{
        // position: relative;
        padding:0;
        @include border-radius (1rem);
    
        .filter-message{
            position: relative;
            width:100%;
            height: auto;
            margin-top:0px;
            left:50%;
            transform: translateX(-50%);
            @include border-radius(0.5rem);
            // border-radius:50%;
             background-color:$white;
            // border:1px solid #ccc;
            h1{
                margin-bottom:40px;
                &:after {
                    content:'';
                    position: absolute;
                    width:100px;
                    margin-top:50px;
                    border-bottom:4px solid gray;
                    left:50%;
                    transform: translateX(-50%);
                    text-transform: uppercase;
    
                }
            }
    
            h5{
                text-transform: uppercase;
            }
    
            h6{
               color: rgba(89, 93, 110, 0.9);
                padding:10px 0;
                font-size:0.9rem;
            }
        }
        .message-cont{
            text-align: center;
            width:auto !important;
    
            width:auto;
        }
    
        i{
            font-size:60px;
            color:#dc3545;
        }
    }
    
}

.dashboard-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .revenue-box{
        background-color:$white;
         padding:30px;
        // width:23%;
        // height:100%;
        margin:0px 0 15px;
        flex-grow: 1;
        flex-basis: 0;
        justify-content: space-between;
        @include border-radius(0.5rem);
        text-align: center;

        &:nth-child(2){
            margin:15px;
            margin-top:0
        }
        
        &:nth-child(3){
            margin:0px 15px 15px 0;
        }

        .total{
            font-size: 18px;
            font-weight: 500;
            color:$cogent;
        }

        img{
            width:30px;
            
            // display: none;
           
        }

        p{
            text-align: center;
            font-size: 22px;
            font-weight: 500;
            
        }

        div{
            text-align: center;
            font-weight: 400;
            // color:$black;

            &.up{
                color:$success;
            }

            &.down{
                color:$danger;
            }
            .fa-chevron-up{
                color:$success;
                font-size: 18px;
            }

            .fa-chevron-down{
                color:$danger;
                font-size: 18px;
            }
        }

        
    }

    .chart {
        background-color:$white;
        padding:20px 40px;
        @include border-radius(0.5rem);
        img{
            width:100%;
            height: auto;
           
        }

        .btn{
            margin-right:6px;
            margin-bottom:4px;
            float:right;
        }
    }


    .overall-box{
        background-color:$white;
        padding:30px;
        margin:0px 0 15px;
        @include border-radius(0.5rem);
        text-align: center;

        img{
            width:30px;
            
            // display: none;
           
        }

        p{
            text-align: center;
            font-size: 22px;
            font-weight: 500;
            
        }

        .title{
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            // color:$black;
        }
    }

    .appointment-box{
        background-color:$white;
        padding:30px;
        margin:0px 0 15px;
        text-align: center;
        @include border-radius(0.5rem);

        .date{
            width:48%;
            padding:0;

            &:first-child{
                margin-right:2%;
            }

            &:last-child{
                margin-left:2%;
            }
            .field-wrapper{
                width:100%;
                min-height: 34px;

            }

         
            .hinput .form-control{
                height: 36px;
                padding:2px 6px;
            }
           
        }

        .title{
            font-size: 14px;
            font-weight: 500;
            margin:0;
        }

        p{
            font-size: 22px;
            font-weight: 500;
            margin:0;
        }

        ul li{
            width:50%;
            display: inline-block;
            text-align: center;
            font-size: 14px;
            font-weight: 500;

            span{
                font-size: 18px;
                font-weight: 600;
            }
           
        }
      
    }
    
   
}

// .dashboard-image{
//     width:100%;
//     max-width:800px;
// }