.dashboard-wrapper{
    //padding:16px;
    padding-top:10px;
    margin-bottom:1.5rem;

    h5.title{
        display: block;
        // color:desaturate($cogent,60%);
        // font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    // .revenue-title-box{
    //     position: relative;

    //     .fiscal{
    //         position: absolute;
    //         top:0;
    //         left:0;
    //     }

    //     .title{
    //         position: absolute;
    //         top:12px;
    //     }
    // }

    .react-datepicker-popper[data-placement^="bottom"] {
        margin-top: -8px !important;
    }

    .fiscal{
        font-size: 11px;
        font-weight: 500;
        display: block;
    }

    .slash{
        font-size:8px;
    }

    .rev-total{
        // background-color:$gray-100;
        color:$gray-900;
        font-weight: 500;
        // padding:4px 10px;
        // margin-top:10px;
        // margin-left:10px;
        // @include border-radius(2px);
    }

    .hospital-list{
        width:200px;
        float:right;

        .hospital-list-input{
            position: relative;
          

            .form-label{
                position: absolute;
                left:5px;
                bottom:26px;
                padding-bottom:2px;
                background-color: transparent;
                margin-bottom:2px;
                font-size: 11px;
                z-index: 99;
                
            }

            .select-wrapper{
                min-height: 38px;
                margin-left:4px;
                

                .select-label.active {
                color:$cogent;
              }

              .css-1hwfws3{
                  padding:0;
              }
             

              .css-yk16xz-control{
                    background-color:transparent;
                    border-color:transparent !important;
                    border-bottom:1px solid $gray-500 !important;
                //    min-height: 0px !important;
            
                    @include border-radius(0);
            
                    &:hover{
                        // border:transparent !important;
                        border-bottom:1px solid $gray-500 !important;
                    }
                    }

               
            //    .css-tlfecz-indicatorContainer{
            //        padding:2px !important;
            //    }

            }

            // .css-1hb7zxy-IndicatorsContainer{
            //     padding:1px;
            // }

            // .css-tlfecz-indicatorContainer{
            //     padding:1px;
            // }

          

            .css-1pahdxg-control{
                border-color:transparent !important;
                border-bottom:1px solid $gray-500 !important;
                background-color:transparent;
                @include border-radius(0);
                &:hover{
                    border-color:transparent !important;
                    border-bottom:1px solid $gray-500 !important;
                }
            }

          
        }


    //     .select-wrapper{
    //         min-height: 34px;
    //         margin-left:4px;

    //         // .select-label.active {
    //         //     color:$cogent;
    //         //   }

    //       .css-yk16xz-control{
    //        background-color:transparent;
    //     border-color:transparent !important;
    //        border-bottom:1px solid $gray-500 !important;
    //     //    min-height: 30px;
    //        @include border-radius(0);

    //        &:hover{
    //            border:transparent !important;
    //         border-bottom:1px solid $gray-500 !important;
    //       }
    //       }

    //       .css-1uccc91-singleValue{
    //           color:$gray-900;
    //           letter-spacing: 0.5px !important;
    //           text-transform: capitalize;
    //           font-size:11px !important;
    //       }

    //       .css-1pahdxg-control{
    //         border-color:transparent !important;
    //         border-bottom:1px solid $gray-500 !important;
    //         background-color:transparent;
    //         @include border-radius(0);
    //         &:hover{
    //             border-color:transparent !important;
    //             border-bottom:1px solid $gray-500 !important;
    //         }
    //       }

    //         //for disabled select
    //       .css-1fhf3k1-control{
    //         background-color:$gray-100 !important;

    //           // cursor: not-allowed;

    //       }

    //       .css-1hwfws3{
    //           padding:0 0;
    //       }

    //       .css-1n7v3ny-option{
    //         //background-color:#DEEBFF;
    //         background-color: lighten($cogent,45%);
    //       }

    //       .css-1wa3eu0-placeholder{
    //         color:$gray-600;
    //         font-weight: 300;
    //       }

    //       .css-tlfecz-indicatorContainer{
    //           padding:4px !important;
    //       }

    //     }
    }

    .react-datepicker-wrapper{
        width:120px;
    }

    .react-datepicker__current-month{
        display: inline-block !important;
    }

    .unauthorized{
        // position: relative;
        padding:0;
        @include border-radius (1rem);

        .filter-message{
            position: relative;
            width:100%;
            height: auto;
            margin-top:0px;
            left:50%;
            transform: translateX(-50%);
            @include border-radius(0.5rem);
            // border-radius:50%;
             background-color:$white;
            // border:1px solid #ccc;
            h1{
                margin-bottom:40px;
                &:after {
                    content:'';
                    position: absolute;
                    width:100px;
                    margin-top:50px;
                    border-bottom:4px solid gray;
                    left:50%;
                    transform: translateX(-50%);
                    text-transform: uppercase;

                }
            }

            h5{
                text-transform: uppercase;
            }

            h6{
               color: rgba(89, 93, 110, 0.9);
                padding:10px 0;
                font-size:0.9rem;
            }
        }
        .message-cont{
            text-align: center;
            width:auto !important;

            width:auto;
        }

        i{
            font-size:60px;
            color:#dc3545;
        }
    }

}

.dashboard-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
   

   
    .revenue-box{
        position: relative;
        background-color:$white;
         padding:50px 0;
        margin:0px 0 15px;
        flex-grow: 1;
        flex-basis: 0;
        justify-content: space-between;
        @include border-radius(0.5rem);
        text-align: center;

     
        .tb-data {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
          
           
           
            background-color:$white;
            -webkit-transition:.5 ease-in-out;
            transition: .5s ease-in-out;
            @include border-radius(8px);

            span{
            color:transparent;
            font-size: 13px;
            line-height: 15px;
            display:none;
            margin:1px 0;
           .amt{
               padding:2px 4px ;
            //    border:1px solid green;
               @include border-radius(2px);
                color:green !important;
           }
            
            }
        }

        &:hover{
            .tb-data {
                padding:30px;
                opacity: 1;

                span{
                    text-align: left;
                    display:inline-block;
                    color:rgba($gray-900,1);
              
                }
            }
        }
        // .overlay-data{
        //     display:none;
        //         position: absolute;
        //         width:200px;
        //         height: auto;
        //         padding:10px;
        //         top:-70px;
        //         left:-50px;
        //         transform: translate(50%,0);
        //         background-color:$gray-900;
        //         color:$white;
        //         @include border-radius(4px);
        //          display:none;

        //          &::before{
        //             content: '';
        //             width: 0;
        //             height: 0;
        //             border-left: 8px solid transparent;
        //             border-right: 8px solid transparent;
        //             border-top: 6px solid $gray-900;
        //             position: absolute;
        //             display: block;
        //             bottom: -6px;
        //             left: 100px;
        //          }
               
        //       span{
        //         color:$white !important;
        //           font-size: 10px;
        //           line-height: 14px;
        //           padding:4px 0;
        //           font-weight: 400;

        //       }
    
        //     }
    //    &:hover {
    //        .overlay-data{
    //         display:block;
    //         z-index: 999;
    //        }
    //    }
        

        &:first-child{
            background-color:$cogent;
            box-shadow:   -10px -10px 8px  #fff,
            10px 10px 10px $gray-400; 
            // .tb-data span{
            //     color:rgba(255, 255, 255, 0.8);
            //     font-size: 12px;
            //     line-height: 10px;
            // }

            .tb-data {
                background-color:darken($cogent,5%);
            }
    
            &:hover{
                .tb-data {
                    span{
                        display:inline-block;
                        color:rgba($gray-400,1);
                        .amt{
                            padding:2px 4px ;
                            font-weight: 500;
                            //  border-bottom:1px solid $white;
                            @include border-radius(0px);
                             color:$gray-300 !important;
                        }
                    }
                }
            }

            p{
                color:$white;

            }
            .total{
                color:$black;

                .up{
                    color:rgba(255, 255, 255, 0.7);
                }

                .down{
                    color:$danger;
                }
            }
        }

        &:nth-child(2){
            margin:15px;
            margin-top:0
        }

        &:nth-child(3){
            margin:0px 15px 15px 0;
        }

        .total{
            font-size: 14px;
            font-weight: 400;
            color:$cogent;
        }

        img{
            width:30px;

            // display: none;

        }

        p{
            text-align: center;
            font-size: 22px;
            font-weight: 500;
            margin-bottom:0;

            span{
                margin-left:3px;
                font-size: 10px;
                font-weight: 400;
            }

        }

        div{
            text-align: center;
            font-weight: 400;
            // color:$black;

            & .up{
                color:$success;
                     font-weight: 500;

                     svg{
                         margin-right:4px;
                     }

            }

            & .down{
                color:$danger;
                     font-weight: 500;
                     svg{
                        margin-right:4px;
                    }
            }

            &.up,&.down{
                span{
                    // color:$gray-600;
                    // margin-left:2px;
                    // font-weight: 500;

                }
            }
            .fa-chevron-up{
                color:$success;
                font-size: 18px;
            }

            .fa-chevron-down{
                color:$danger;
                font-size: 18px;
            }
        }


    }

    .line-chart {
        background-color:$white;
        padding:20px;
        width:100%;
        height:calc(100% - 20px);
        @include border-radius(0.5rem);
        // box-shadow:   -10px -10px 10px $gray-200,
        // 10px 10px 10px $gray-400; 
        img{
            width:100%;
            height: auto;

        }

        .btn{
            // margin-right:6px;
            margin-bottom:4px;
            float:right;
        }
    }

    .doctor-revenue{
        height: 100%;
        // min-height: 300px;

        .app-log{
            background-color:$white;
            padding:20px 40px;
            width:100%;
            height: calc(100% - 20px);
            // box-shadow:   -10px -10px 10px $gray-200,
            // 10px 10px 10px $gray-400; 
            @include border-radius(0.5rem);

            .app-queue-datatable{
              
                .filter-message{
                    // margin-top:130px;
                    position: absolute;
                    top:70%;
                    left:50%;
                    width:100%;
                    height: 200px;
                    transform: translate(-50%,-70%);
                }
            }

            .filter-message{
                position: absolute;
                top:50%;
                left:50%;
                width:100%;
                height: 200px;
                transform: translate(-50%,-50%);
            }
          

           
        }

        .t-app-box,.t-amount-box{
            padding:10px;
            border:1px solid $gray-200;
            @include border-radius(4px);
        }

        .t-amount-box{
            text-align: right;
        }

        .react-datepicker-popper[data-placement^="bottom"]{
            margin-top:-8px !important;
        }

        .react-datepicker-popper{
      
            margin-left:-100px;
        }

        .react-datepicker-popper[data-placement^="bottom"]  .react-datepicker__triangle,
         .react-datepicker-popper[data-placement^="top"]  .react-datepicker__triangle::before {
             margin-left:100px;
         }

         .doctor-revenue-revenue{
            width:100%;
  
            .data-image{
              //   width:25px;
                margin-top: 4px;
            }
  
            ul li{
                line-height: 22px;
            }
  
  
        }

    }

    .appointment-queue{
        height: 100%;
        // margin-left:-15px;
        //     margin-right:-15px;

        .app-log{
            
            background-color:$white;
            padding:20px 40px;
            width:100%;
            min-height: 500px;
            // box-shadow:   -10px -10px 10px $gray-200,
            // 10px 10px 10px $gray-400; 
            @include border-radius(0.5rem);

            .filter-message{
                position: absolute;
                left:50%;
                top:30%;
                width:100%;
                height: 200px;
                transform: translate(-50%,-30%);
            }
        }
    }

    .app-log{

      
    }

  


    .overall-box{
        background-color:$white;
        padding:30px;
        margin:0px 0 15px;
        @include border-radius(0.5rem);
        text-align: center;
        // box-shadow:   -10px -10px 10px $gray-200,
        // 10px 10px 10px $gray-400; 

        img{
            width:30px;

            // display: none;

        }

        p{
            text-align: center;
            font-size: 22px;
            font-weight: 500;

        }

        .title{
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            // color:$black;
        }
    }

    .appointment-box{
        background-color:$white;
        padding:30px;
        margin:0px 0 15px;
        text-align: center;
        // box-shadow:   -10px -10px 10px $gray-200,
        // 10px 10px 10px $gray-400; 
        @include border-radius(0.5rem);

        .date-group{
            text-align: left;
            padding-left:15px;
        }

        .date{
            padding-right:15px;
        }

        .doughnut-chart{
            width:60%;
            text-align: center;
            margin:0 auto;
        }

        .title{
            font-size: 14px;
            font-weight: 500;
            margin:0;
        }

        p{
            font-size: 22px;
            font-weight: 500;
            margin:0;
        }

        ul li{
            width:50%;
            display: inline-block;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            color:$gray-700;

            span{
                font-size: 18px;
                color:$gray-700;
                font-weight: 400;
            }

        }

        .color-code{
            display:inline-block;
            width:10px;
            height: 10px;
            background-color:$info;
           vertical-align: middle;
           margin-bottom:6px;
           margin-right:2px;
            @include border-radius(50%);

            &.code1{
                // background-color:lighten($cogent,20%);
               background-color: rgba(0, 99, 255, 0.2);
            }

            &.code2{
                background-color:$cogent;
            }
        }

    }

    .separator-doc,.separator-date{
        font-size: 14px;
        font-weight: 500;

    }

    .separator-doc{
        margin-top:10px;
    }

    .date{
        padding:0;
        text-align:right;

        .field-wrapper{
        min-height:40px;   
        }

        &>div{
            text-align:right;
            font-size: 10px;
           

            span{
                font-weight:600;
            }
        }

        .form-control{
            border:0 solid transparent;
            border-bottom:1px solid $gray-500;
            @include border-radius(0);
           
        }

        .field-placeholder{
            display: none;
        }

        .example-custom-input {
            text-align: 0;
        }

      }

      .app-queue-datatable{
          width:100%;

          .data-image{
            //   width:25px;
              margin-top: 4px;
          }

          ul li{
              line-height: 22px;
          }


      }


}


@include media-breakpoint-down(sm) {
.doctor-revenue{
    margin-top:1.5rem;
}
}

// .dashboard-image{
//     width:100%;
//     max-width:800px;
// }
