
.container-login{
  width:750px !important;
  margin:0 auto;
  height: 400px;
}

.login-left {
  background-color:#fafafa;
  border-radius: 5px;
}

.login-left .app-detail{
  margin-top:20px;
}


.login-right{
  background-color:#fff;
  border-radius: 5px;
  
  h2{
    background-color:#fff;
  color:#444444 ;
  text-align:center ;
  margin:0 !important;
  margin-bottom:20px !important;

  }
}

.medical-image{
width:100%;
height: auto;
}

.logo-image{
width:130px;
height: auto;
text-align: center;
}

.login-wrapper{   
width:80%;
margin:auto;
text-align: left;
position: relative;
padding:40px 10px;;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);

.login-header{
 text-align: center;
 padding-bottom:10px;
}

.field-wrapper{
  min-height:64px;
}

}

.login-form{
display: flex;
flex-direction: column;



.btn{
  height:36px;
}
}


p {

letter-spacing: 1px;
font-size:14px;
color: #333333;
}

.login-back{
position: absolute;
bottom:0;
right:10px;
padding:10px;
}

.header-login {
position:relative;
text-align:center;
background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
color:white;
}
.logo {
width:50px;
fill:white;
padding-right:15px;
display:inline-block;
vertical-align: middle;
}

.inner-header {
height:calc(85vh - 50px);
width:100%;
margin: 0;
padding: 0;
}

.flex { /*Flexbox for containers*/
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction:column;
}

.company-logo{
  width:40px;
  height: auto;
  display: none;
}

//////////////////
//for new password 
/////////////////

.new-password{

  .login-wrapper{
    padding:60px 10px;
  }

  .login-header{
    display: none;
  }


  .login-page-title{
    text-transform: capitalize;
    color:darken($cogent,5%);
    text-align: center;
    font-weight: 400;
    font-size:19px;
    margin:4px 0 24px;
   }

   .forgot-password-content{
     font-size: 0.85rem;
     letter-spacing:0;
     margin-bottom:20px;
   }

   p{
    font-size:1rem;
    letter-spacing: 0;
   }
   
   .password-requirement{
     // display:none;
     margin-bottom:16px;
     p{
       margin-bottom:2px;
       font-weight: 300;
       margin:0px 0;
     }
     
   ul{
     
     li{
       list-style-type: disc;
       color:$gray-600;
       font-size:12px;
       margin-left: 16px;
       font-weight: 300;
     }
   }
     
   }

}

.forgot-password{
  .login-header{
    display: block;
    .login-page-title{
     
      font-size: 1rem;
      text-transform: capitalize;
      color:$cogent;
      text-align: center;
      font-weight: 400;
      font-size: 19px;
      margin: 4px 0 24px;
    }
  }
}


.error{
  color:$danger;
  margin-bottom:6px;
  
}


//////////////////
//for change password modal  
/////////////////

.change-password{
  .password-requirement{
    display:none;
  }
}

// .logo-wrapper{
// background-color:$gray-100;
// width:48px;
// height: 44px;
// padding:2px;
// display: inline-block;
// border:1px solid $gray-400;
// @include border-radius(50%);

// }

/////////////////Background css/////////////////




.waves {
position:relative;
width: 100%;
height:15vh;
margin-bottom:-1px; /*Fix for safari gap*/
// min-height:100px;
// max-height:150px;
}

.content-login {
position:relative;
height:60px;
text-align:center;
background-color: white;
}

/* Animation */

.parallax > use {
animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
animation-delay: -2s;
animation-duration: 7s;
}
.parallax > use:nth-child(2) {
animation-delay: -3s;
animation-duration: 10s;
}
.parallax > use:nth-child(3) {
animation-delay: -4s;
animation-duration: 13s;
}
.parallax > use:nth-child(4) {
animation-delay: -5s;
animation-duration: 20s;
}

@keyframes move-forever {
0% {
 transform: translate3d(-90px,0,0);
}
100% { 
  transform: translate3d(85px,0,0);
}
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
.inner-header{
  height:calc(100vh - 90px);
}
  .container-login{
    width:90% !important;
    margin:0 auto;
    min-height: 400px;
  
  
  }
.waves {
  height:40px;
  min-height:40px;
}
.content {
  height:30vh;
}
h1 {
  font-size:24px;
}
}