
 @import '~bootstrap/scss/functions';

 //custom colors
 @import "~@frontend-appointment/common-sass/src/scss/variables/custom-variables";

// // Customized Bootstrap variables
 @import "~@frontend-appointment/common-sass/src/scss/variables/custom-bootstrap-variable";
 @import '~bootstrap/scss/mixins';

 #appointment-status{
 .title{
 }

 .appointment-badge{
    float: right;  
    margin:10px 0;
    
        &>div{
         margin-right:20px;
         height: auto;
         display: inline-block;
        //  line-height: 40px;

         &:last-child{
             margin-right: 0;
         }

         .badge{
             margin-right:4px;
             width:16px;
             height: 16px;
         }

         a{
             color:$gray-900;
         }
     }

     .btn{
        margin-bottom:10px;
     }
    

}

// .badge{
//     width:35px;
//     height: 35px;
//     // top:50%;
//     // left:50%;
//     // transform:translate(-50%,-50%);
//     text-align: center;
//     vertical-align: middle;
//     font-size: 16px;
//     line-height: 22px;
//     padding:6px;
//     @include border-radius(50%);
// }

.react-datepicker-wrapper{
    width:50%;
    // padding-left: 4px;
}

.doctor-name{
    position: relative;

    display: inline-block;
    margin-bottom:20px;
     &::before{
        content:"";
        display: block;
        position: absolute;
        width:100%;
        height:2px;
        bottom:-5px;
        background-color:$gray-600;
    }
   
}

.time-container{
    ul li{
        display: inline-block;
        margin-right:16px;
        margin-bottom:16px;

        .btn{
            width:100px;
            height: 36px;
        }

        // .btn-success{
        //    &:hover{

        //     }
        // }
    }
}

.appointment-status-list{
    margin: 15px -30px;
}

.appointment-status-list,.appointment-badge{
    .btn-success{
        // background-color: adjust-hue($success,20%);

        background-color:$spotify;
        color:#191414;
       
        padding:8px 12px;
        // margin: 0 0 12px;
    }

    .btn{
        padding:10px 6px;
        font-weight: 500;
    }
}

.filter-message{
    margin:0 auto;
}



@media (max-width: 1199px) { 
    .hide-on-md{
      display:none;
    }
  }
}
