
 @import '~bootstrap/scss/functions';

 //custom colors
 @import "~@frontend-appointment/common-sass/src/scss/variables/custom-variables";

// // Customized Bootstrap variables
 @import "~@frontend-appointment/common-sass/src/scss/variables/custom-bootstrap-variable";
 @import '~bootstrap/scss/mixins';


 .doctor-info{
  height: 100%;
 @include border-radius($cogent-radius);
 }

 .info-container{
   
    padding-right:0
}

 .doctor-availability{
    height: 100%;
    @include border-radius($cogent-radius);

   

    .header{
        font-weight: 600;
        text-transform: uppercase;
        
    }

    .main-content{
       margin-top:24px;
       margin-bottom:24px;

       & :first-child{
           text-transform: uppercase;
           font-weight:500;
       }
    }


 }

 .doctor-override {
     padding:30px 40px;
    @include border-radius($cogent-radius);
 }

 .preview-modal{
     .doctor-availability{
         border:1px solid $cogent-border;
     }
 }




 @media (max-width:992px) { 

    .info-container{
        margin-bottom:20px;
        padding-right:15px;
    }


  }

 