
 @import '~bootstrap/scss/functions';

 //custom colors
 @import "~@frontend-appointment/common-sass/src/scss/variables/custom-variables";

// // Customized Bootstrap variables
 @import "~@frontend-appointment/common-sass/src/scss/variables/custom-bootstrap-variable";
 @import '~bootstrap/scss/mixins';


 .doctor-info{
  height: 100%;

 @include border-radius($cogent-radius);
 }

 .doctor-availability{
    height: 100%;;
    @include border-radius($cogent-radius);

    .header{
        font-weight: 600;
        
    }

    .main-content{
       margin-top:24px;
       margin-bottom:24px;
    }
 }

 .doctor-override {
     padding:30px 40px;
    @include border-radius($cogent-radius);
 }


 @media (max-width:992px) { 

    .mb-20{
        margin-bottom:20px;
    }


  }

