// @mixin borders($borders) {
//   @each $border in $borders {
//     $direction: nth($border, 1);
//     @if $direction == "all" {
//       $size: map-get(map-get($borders, $direction), size);
//       $style: map-get(map-get($borders, $direction), style);
//       $color: map-get(map-get($borders, $direction), color);
//       border: $size $style $color;
//     } @else if $direction == "top" {
//       $size: map-get(map-get($borders, $direction), size);
//       $style: map-get(map-get($borders, $direction), style);
//       $color: map-get(map-get($borders, $direction), color);
//       border-top: $size $style $color;
//     } @else if $direction == "right" {
//       $size: map-get(map-get($borders, $direction), size);
//       $style: map-get(map-get($borders, $direction), style);
//       $color: map-get(map-get($borders, $direction), color);
//       border-right: $size $style $color;
//     } @else if $direction == "bottom" {
//       $size: map-get(map-get($borders, $direction), size);
//       $style: map-get(map-get($borders, $direction), style);
//       $color: map-get(map-get($borders, $direction), color);
//       border-bottom: $size $style $color;
//     } @else if $direction == "left" {
//       $size: map-get(map-get($borders, $direction), size);
//       $style: map-get(map-get($borders, $direction), style);
//       $color: map-get(map-get($borders, $direction), color);
//       border-left: $size $style $color;
//     }
//   }
// }

@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
}


@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}