#appointment-mode-setup{
    .table-header,.table-body{
       tr td{
           &:nth-child(1){
               width:30%;
           }

           &:nth-child(2){
               width:20%;
           }
           &:nth-child(3){
               width:20%;
           }
           &:nth-child(4){
               width:15%;
           }
           &:nth-child(5){
               width:15%;
           }
       }
    }

   
}

.switch.btn{
    height:20px !important;
    min-height: 0;
    margin-left:20px;
    font-size: 0.8rem !important;
}