h5.title{

    text-transform: uppercase;
    color:lighten($body-color,0%);
    margin-bottom:14px;
    font-size:1rem;
    position: relative;
    display: inline-block;
    //  padding-left:8px;
    // margin-left:-20px;

    // &:before{
    //     content:"";
    //     position: absolute;
    //     top:0px;
    //     bottom:0px;
    //     left:0;
    //     border-left:2px solid lighten($body-color,0%);

    // }
}
