
 @import '~bootstrap/scss/functions';

 //custom colors
 @import "~@frontend-appointment/common-sass/src/scss/variables/custom-variables";

// // Customized Bootstrap variables
 @import "~@frontend-appointment/common-sass/src/scss/variables/custom-bootstrap-variable";
 @import '~bootstrap/scss/mixins';


h5.title{
    // color:red !important;
}

 .contact-box{
    position: relative;
  


    .remove-contact{
        position: absolute;
        right:15px;
        top:0;
        height:calc(1.5em + 0.8rem);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius:3px;
        border-bottom-right-radius: 3px;
       border:none;
    }

    &:first-child{
        .remove-contact{
            display:none;
        }
    }
}

.upload-button{
    display: block;
    width:140px;
}

.hospital-banner-container{
    width:100%;
    height:230px;
    position: relative;
    display: block;
    background-color:lighten($cogent,46%);
    margin-bottom:32px; 
    overflow: hidden;
    @include border-radius(10px);

    .hospital-banner{
        width:100%;
    }

    .banner-upload-button{
        position:absolute;
        right:15px;
        bottom:10px;
    }

   

    .image-upload-container{
        margin-top:20px;

        .react-photo-gallery--gallery{
            width:100%;
            height:230px;

            
        }
    }
}

.preview-banner{
    &:before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
         background-color:rgba($gray-400,0.3);
        // filter: blur(8px);
        // -webkit-filter: blur(8px);
    }
    .react-photo-gallery--gallery{
        img{
            width:100%;
            height:230px;
        }
    }

    .hospital-container{
        z-index: 9999;
        width: 140px;
        height:160px;
        border-radius: 10px;

        img{
            width:100%;
            height: auto;
        }
    }

    .image-upload-container{
        margin-top:20px;

        .react-photo-gallery--gallery{
            width:100%;
            height:230px;

            
        }
    }
}

.image-upload-container{
  text-align: center;
  position: absolute;
  top:14px;
  left:14px;

  

    .image-box{
       img{
           width:140px;
           @include border-radius(10px);
       }

       .upload-button{
           margin:0 auto;
       }



    }
}



.image-container .default-image {
    background-image: url(./img/default-logo.png);
}

.preview-modal{
    .contact-box{
        .remove-contact{
            right:0;
        }
    }
}

.cropped-image{

    img{
        @include border-radius(0px);
    }
    @include border-radius(5px);
}

.react-photo-gallery--gallery img {
    width: 140px;
    height: 140px;
    margin: 0 auto !important;
    @include border-radius(10px);
}
