
@import '~bootstrap/scss/functions';

//custom colors
@import "~@frontend-appointment/common-sass/src/scss/variables/custom-variables";

// // Customized Bootstrap variables
@import "~@frontend-appointment/common-sass/src/scss/variables/custom-bootstrap-variable";
@import '~bootstrap/scss/mixins';


input {
	outline: none;
}

.search-button{

}

#menu-search{
	.search-text{
		color:$gray-500;
		position: absolute;
		top: 50%;
   		transform: translateY(-50%);
		right:44px;
		z-index: 2;
		font-size: 0.8rem;
		font-weight: 400;
		// line-height: 1.5;
	
	}

}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 100%;
	height: auto;
	z-index: 10;

}

input.active + span.search-text{
	display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */

#menu-search{
  width: auto;
  display: flex;
  flex-basis: 1;
  flex-direction: row-reverse;
  position: relative;
  @include border-radius(50%);
  margin-right:8px;

//   &::before{
// before 
// 	}
}

#menu-search input[type=search] {
	width:40px;
	cursor: pointer;
	color:transparent;
	position: relative;
	
	background: transparent url(./search.svg) no-repeat left    center;
	background-size:36px 18px;
	border:1px solid transparent;
	padding: 9px 6px;
	box-sizing:border-box;
	height:auto;
	@include border-radius(50%);

	// -webkit-border-radius: 2px;
	// -moz-border-radius: 2px;
	// border-radius: 2px;

	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;

	
}
#menu-search input[type=search]:hover {
	background: transparent url(./search-active.svg) no-repeat left center;
	background-size:36px 18px;
	background-color: #fff;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;	


}
#menu-search input[type=search]:focus ,
#menu-search input.active{
	width: 100%;
	background: transparent url(./search-active.svg) no-repeat left center;
	background-size:36px 18px;
	background-color: #fff;
	border: 1px solid  #e9ecef !important;
	padding: 8px 4px;
	padding-left: 32px;
	color: #000;
	cursor: auto;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	


}

#menu-search input.active::-moz-placeholder {
color:$gray-800;
}

#menu-search input.active::-webkit-input-placeholder {
color:$gray-800;
}

#menu-search input::-moz-placeholder {
	display: none;
	color:transparent;
}
#menu-search input::-webkit-input-placeholder {
	display:none;
	color:transparent;
}

