//
// Base styles
//

.alert {
  margin-top:4px;
    position: fixed;
    padding:16px 0 16px 20px;
    top:0;
    border:none;
    left:50%;
    transform:translateX(-50%);
    width:60%;
    min-width:100px;
    z-index: 999;
    // height: 166px;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    // -webkit-box-shadow: 0 1px 3px -6px #777;
    // -moz-box-shadow: 0 1px 3px -6px #777;
    //      box-shadow: 0 1px 3px -6px #777;
        box-shadow: 0 0.25rem 0.15rem rgba(0,0,0,.1);

         @include border-radius(6px);

         .alert-heading{
        
            // display:flex;
            // flex-direction: column;
            // justify-content: space-around;
            align-items: center;
            color:$white;
         
            i,svg{
                
                font-size:24px;
                display:block;
                color:$white;
            }
         }

         p{
            align-self: center;
            color:$white;
            text-align: center;
            margin-bottom:0;
            padding-left:20px;
            padding-right:60px;
            line-break: auto;
            font-size: 14px;
            font-weight: 500;
         }

  }

  .alert-success{
     background-color:$success;
    //  border-color:$success;
  }

  .alert-danger{
    background-color:$danger;
  }
  .alert-warning{
    background-color:$warning;
  }


  .alert-heading{
      margin-bottom:0;
  }
  

  .alert-dismissible .close{
    color:$white;
    padding:1.25rem
  }
  