#topbar-wrapper {
    // box-shadow: 1px 1px 8px 4px $gray-300;

    .btn {
        box-shadow: none;
    }

    .header-content-left {
        .logo {
            display: none;
        }
    }

    .dropdown-menu {
        &:before {
            content      : '';
            width        : 0;
            height       : 0;
            border-left  : 8px solid transparent;
            border-right : 8px solid transparent;
            border-bottom: 6px solid $white;
            position     : absolute;
            display      : block;
            top          : -6px;
            right        : 12px;
        }
    }

    .topbar-dropdown {


        .dropdown-menu {
            width        : 260px;
            border-radius: 0 !important;
            padding      : 0;
            box-shadow   : 1px 1px 8px 4px $gray-300;
            border       : none;

            &:before {
                content      : '';
                width        : 0;
                height       : 0;
                border-left  : 8px solid transparent;
                border-right : 8px solid transparent;
                border-bottom: 6px solid #FFFFFF;
                position     : absolute;
                display      : block;
                top          : -6px;
                right        : 20px;
            }


        }

        .dropdown-details {
            position           : relative;
            height             : 60px;
            margin-bottom      : 20px;
            text-align         : center;




        }

        .drop-down-list {

            margin: 0;

            li {
                padding       : 10px;
                border-bottom : 1px solid $cogent-border;
                height        : 50px;
                vertical-align: middle;
                display       : flex;

                &:hover {
                   background-color: lighten($cogent,45%);
                    color           : $cogent;
                }

                &:last-child {
                    border-bottom: 1px solid transparent;
                }



            }


        }

    }

    .topbar-search {
 
        margin-right: 4px;
        
        .dropdown-menu {
            width        : 300px;
            top          : -6px;
            // max-height  :420px;
            // overflow: auto;

            .menu-list-container{
                max-height  :428px;
                overflow: auto;
            }


                &:before {
                    content      : '';
                    width        : 0;
                    height       : 0;
                    border-left  : 8px solid transparent;
                    border-right : 8px solid transparent;
                    border-bottom: 6px solid $white;
                    position     : absolute;
                    display      : block;
                    top          : -6px;
                    left           :110px;

                }


            .dropdown-item{
                &:focus{
                   background-color: lighten($cogent,40%);
                }

                &:hover{
                    background-color: lighten($cogent,45%);

                }


            }


            li{
                padding:14px ;
                height: auto ;
            }
        }


        .menu-link{
            display: flex;
            flex-direction: row;
            padding-top:12px;
            padding-bottom:12px;

            &:hover{
                text-decoration: none;
            }

            .anchor-icon{
              width:32px;
              height: 32px;
              line-height: 32px;
              text-align: center;
              flex-shrink: 0;
              @include border-radius(50%);
              border:1px solid $gray-100;
              background-color:$gray-200;
            }

            .menu-box{
              margin-left:14px;
              .menu{
                font-size:13px;
                font-weight: 500;
                color:$gray-800;
              }

              .sub-menu{
                font-size:12px;
                font-weight: 400;
                color:$gray-700;
              }
            }

          }



    }



    // for profile details

    .user-profile {
        &.show{
            background-color: #e6efff;
            @include border-radius(50%);        }

        &>.btn {

            // width: 45px;
        }

        .avatar {
            width         : 40px;
            height        : auto;
            // margin-left: 5px;
            @include border-radius(50px);
        }

        i {
            margin-top: -5px;

        }

        .dropdown-toggle {
            @include border-radius(50px);
            -webkit-transition: all 0.3s;
            transition        : all 0.3s;

            &:hover {
                background-color: lighten($cogent, 45%);
            }
        }


        .dropdown-menu {
            width           : 220px;

            min-width       : auto;
            border          : none;
            //box-shadow      : 1px 1px 8px 1px $gray-300;
            box-shadow      : 0px 4px 2px 0px $gray-400;
            padding         : 20px;
            background-color: $white;
            @include border-radius(5px !important);
        }

        .user-details {
            position              : relative;
            // padding-top        : 60px;
            // margin-bottom      : 40px;
            text-align            : center;
            color                 : $gray-800;

            .avatar {
                // position  : absolute;
                margin-top: 15px;
                margin-bottom: 13px;
                left: 8px;
                width: 120px;
                border-radius: 50%;
            }

            .user-name {
                font-size    : 1rem;
                line-height  : 1.6rem;
                font-weight  : 600;
                margin-bottom: 0px;
                text-transform:capitalize;

            }

            .depart-name ,.profile-name{
                font-size    : 0.85rem;
                font-weight  : 400;
                color:$gray-700;
                text-transform:capitalize;
                -webkit-text-transform:capitalize;
                span{
                    color:$gray-600;
                }


            }

            .depart-name{
                margin-bottom: 3px;
            }

            .profile-name {

                margin-bottom: 4px;

            }



            .reset-password {
                display: none;

            }

        }

        .user-logout {
            border-top: 1px solid $cogent-border;
            padding   : 5px 0 5px 15px;


            .btn {
                @include border-radius(5px);
                padding: 8px 6px;
            }
        }

        .logout {
            padding: 12px;

            .btn {
                padding: 12px 0 10px 0;
            }
        }
    }
}
