@import "~bootstrap/scss/functions";

//custom colors
@import "~@frontend-appointment/common-sass-client/src/scss/variables/custom-variables";

// // Customized Bootstrap variables
@import "~@frontend-appointment/common-sass-client/src/scss/variables/custom-bootstrap-variable";
@import "~bootstrap/scss/mixins";


.doctor-info {
    height: 100%;
    @include border-radius($cogent-radius);
}

.alert {
    z-index: 999999999;
}

.info-container {
    padding-right: 0;
}
.room-check {
    margin-bottom: 20px;
    .select-all {
        margin-left: 11px;
    }

    .field-wrapper {
        min-height: 54px;
        margin-top: 6px;
    }
}

.department-availability {
    height: 100%;
    @include border-radius($cogent-radius);

    .header {
        font-weight: 600;
        text-transform: capitalize;
        margin-top: 10px;
        margin-bottom: 10px;

        // .col{
        //     padding:0 4px;
        // }

        .col {
            &:nth-child(1) {
                flex-basis: 70px;
                flex-grow: 0;
                text-overflow: ellipsis;
                overflow: hidden;
               
            }

            &:nth-child(2),
            &:nth-child(3) {
                padding:0 4px;
                flex-basis: 140px;
                flex-grow: 0;
            }

            &:nth-child(4) {
                
                flex-basis: 60px;
                flex-grow: 0;
                padding: 0;
                padding-left:5px;
                .form-check {
                    // padding-left: 8px !important;
                    // font-size: 11px;
                    // margin-right: 0;
                }

                .select-all{
                    margin-left:15px;
                }
                .form-check.check-all .form-check-label{
                    margin-bottom:0;
                    font-size: 11px;
                    margin-left:-8px;

                     
                }
            }

            &:nth-child(5) {
                width: calc(100% - 410px);
                flex-basis: calc(100% - 410px);
                flex-grow: 1;
            }
        }
    }

    .main-content {
        margin-top: 14px;
        margin-bottom: 14px;
        align-items: center;
        //    justify-content: flex-start;
        // .col{
        //     padding:0 4px;
        // }

        .col {
            &:nth-child(1) {
                
                flex-basis: 70px;
                flex-grow: 0;
                text-overflow: ellipsis;
                overflow: hidden;
               
            }

            &:nth-child(2),
            &:nth-child(3) {
               
                flex-basis: 140px;
                flex-grow: 0;
                padding:0 4px;
            }

            &:nth-child(4) {
                padding:0 15px;
                flex-basis: 60px;
                flex-grow: 0;
                padding-left:20px;
                .fa-check-circle {
                    margin-left: -10px;
                }
            }

            &:nth-child(5) {
                width: calc(100% - 410px);
                flex-basis: calc(100% - 410px);
                flex-grow: 1;

                .multiple-select {
                    margin-bottom: 0;
                }
            }
        }

        &:first-child {
            text-transform: capitalize;
            font-weight: 400;
        }
        .field-wrapper {
            min-height: 20px;
            .css-1hwfws3 {
                padding: 0 0.8rem;
            }
        }
    }
}

.department-override {
    padding: 30px 40px;
    @include border-radius($cogent-radius);
    .filter-message {
        width: 100%;
    }

    .select-all {
        display: inline-block;
    }

    .optional {
        font-style: italic;
        color: $gray-800;
    }
}
.preview-modal {
    &.edit-doctordutyroster {
        .time-picker {
            .react-datepicker-popper[data-placement^="bottom"] {
                margin-top: 8px !important;
            }
        }

        .department-availability {
            .main-content {
                .col {
                    &:last-child {
                        .form-check {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    .date-error {
        color: $danger;
        margin-top: -32px;
        font-weight: 400;
        font-size: 12px;
    }

    .time-error {
        color: $danger;
        margin-top: -30px;
        // margin-left:25%;
        font-weight: 400;
        font-size: 12px;
    }

    .time-picker {
        .react-datepicker-popper[data-placement^="bottom"] {
            margin-top: -28px !important;
        }
    }

    .doctor-info,
    .department-availability,
    .department-override {
        border: 1px solid $cogent-border;
        @include border-radius($cogent-radius);
    }

    .doctor-list{
        border:1px solid $gray-100;
        background-color: $gray-100;
        padding:2px;
        margin-bottom:2px;
        @include border-radius(4px);
       
        li{
            display:flex;
            flex-direction: row;
            align-items: center;
            margin-bottom:2px;

            img{
                width: 26px;
                height: auto;
                margin-right: 10px;
                @include border-radius(50%);
            }
            
            .anchor-icon{
                margin-right: 10px;
                width: 28px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                flex-shrink: 0;
                border-radius: 50%;
                border: 1px solid $gray-100;
                background-color: $gray-100;
            }

        }
    }

    .department-override {
        //  margin:24px 15px 0;
        padding: 24px;
    }
    .department-availability .main-content {
        margin-top: 18px;
    }
}

.override-form {
    width: 100%;
    .react-datepicker-wrapper {
        width: 50%;
        padding-left: 4px;
    }
    .time-picker {
        display: inline-block;
        width: 50%;
        padding-left: 4px;
        .react-datepicker-wrapper {
            width: 100%;
        }
    }

    .form-check {
        margin-left: 14px;
        height: 50px;
    }
}

.date-error {
    color: $danger;
    margin-top: -32px;
    font-weight: 400;
    font-size: 12px;
}

.time-error {
    color: $danger;
    margin-top: -8px;
    // margin-left:25%;
    font-weight: 400;
    font-size: 12px;
}

.fa-check-circle {
    font-size: 16px;
    color: $success;
}




@media (max-width: 992px) {
    .info-container {
        margin-bottom: 20px;
        padding-right: 15px;
    }
}
