.cogent-modal{
    .modal-content{
        border:none;
        padding-bottom:10px;
         .modal-header{
             background-color: darken($cogent, 5%);
           // background: linear-gradient(180deg,darken($cogent, 25%), rgba(0,212,255,1) 100%);
            // background-image: url("../images/clinic5.png");
            justify-content: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position        : relative;
            padding-top     : 20px;
            margin-bottom   : 20px;
            text-align      : center;
             color:$white;
             border: none;
             opacity: 0.9;
     
         }

        
     }



    #label_status{
        display: block;
    }
     .form-check{
         display: inline-block;
         padding-right:10px;
     }
}

// Modal background
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-modal-backdrop;
    width: 100vw;
    height: 100vh;
    background-color: #000;


  
    // Fade for backdrop
    &.fade { opacity: 1; }
    &.show { opacity: $modal-backdrop-opacity; }
  }

.modal-footer{
    border-top:0px !important;
}

.modal-backdrop {
  
  
    // Fade for backdrop
    &.fade { opacity: 0; }
  

    &.show {
        opacity:0.7;
        //-webkit-filter: blur(5px);
        //filter: blur(5px);
        //     /* All the background image supports */
            // background-image: url("./../images/clinic.jpg");
            // background-size: cover;
            // background-repeat: no-repeat;
            // background-position: center;
        //     transform: translate(0px, 0px, 0px) ;
        //     //  radient(to top right, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
        //     position: absolute;
        //     // width: 100%;
        //     // height: 100%;
            
        //     /* blur filters */
        //     -webkit-filter: blur(20px);
        //     -o-filter: blur(20px);
        //     filter: blur(20px);
            
        //     /* positioning and removing edges */
        //     top: -70px;
        //     right: -70px;
        //     left: -70px;
        //     padding: 70px;
        //   }
          
        //   &.show:after {
        //     content: '';
        //     position: absolute;
        //     height: 100%;
        //     width: 100%;
        //     z-index: 1001;
          
        //     /* Setting the gradient. Adds depth, and glass like effect. */
        //     background-image: -webkit-linear-gradient(289deg, rgba(43,40,50,0.8) 0%, rgba(43,40,50,0.4) 46%, rgba(0,0,0,0.05) 50%);
        //     background-image: -moz-linear-gradient(289deg, rgba(43,40,50,0.8) 0%, rgba(43,40,50,0.4) 46%, rgba(0,0,0,0.05) 50%);
        //     background-image: -o-linear-gradient(289deg, rgba(43,40,50,0.8) 0%, rgba(43,40,50,0.4) 46%, rgba(0,0,0,0.05) 50%);
        //     background-image: linear-gradient(-19deg, rgba(43,40,50,0.8) 0%, rgba(43,40,50,0.4) 46%, rgba(0,0,0,0.05) 50%);
          
        //     /* Blur to add depth. High to create smooth transition */
        //     -webkit-filter: blur(70px);
        //     -o-filter: blur(70px);
        //     filter: blur(70px);
          }
          
          
    
  }
  