
 @import '~bootstrap/scss/functions';

 //custom colors
 @import "~@frontend-appointment/common-sass-client/src/scss/variables/custom-variables";

// // Customized Bootstrap variables
 @import "~@frontend-appointment/common-sass-client/src/scss/variables/custom-bootstrap-variable";
 @import '~bootstrap/scss/mixins';

// .unit-setup{

    h5.title{
        // color:$cogent;
        // background-color:$white;
        // @include border-radius($cogent-radius);
        display: inline-block !important;
    }

    .form-check{
        margin-top:-6px;
        input{
            margin-top:1px;
        }
    }

    .preview-modal{
        label{
            // margin-bottom:0rem;
        }
        .form-check{
            // margin-top:-2px;
            input{
                margin-top:1px;
            }
        }
    }


// }

