.ag-root-wrapper{
    .patient-column, .doctor-column{
        margin-top:0.1rem;
        margin-bottom:0.3rem;

         li{
            line-height: 1.4rem;
            padding:0;
        }
    }

}
